.Nav-bar{
    background-color: #134B8A !important;
    height: 55px;
}
.Nav-btnname,.Nav-noti{
    position: absolute;
    top: -5px;
}
.Nav-name{
    padding-left: 10px;
}
@media only screen and (max-width:899px){
    .Nav-logo{
        background-color: white;
        width: 45px;
        border-radius: 10px;
        position: absolute ;
        top: 5px;
        left: 3%;
    }
    .Nav-btnname{
        position: absolute;
        top: -5%;
        right: -2%;
    }
}
@media only screen and (min-width:900px){
    .Nav-logo{
        display: none;
    }
}
