.Sidebar{
    border-radius: 10px !important;
}
.Side-logo{
    margin: 20px 10px;
}
.Side-placelist{
    color: white;
    background-color: #134B8A;
    padding: 4px;
    border-radius: 6px;
    margin: 12px 9px 25px 7px;
}
.Side-text{
    position: absolute;
    top: 35px;
    font-size: 9px;
    color: black;
    text-transform: capitalize;
}